<h1> Mechanic: <%=@mechanic.name %> </h1>
<h1> Years of Experience: <%= @mechanic.experience %> </h1>
<h1>Current Rides They Are Working on:</h1>
<% @mechanic.sorted_rides.each do |ride| %>
<p><%= ride.name %> </p><br>
<% end %>
<br>
<p>Add Ride for Repair</p>
<%= form_tag "/mechanics/#{@mechanic.id}/add_ride", :method => "get" do %>

  <%= label_tag :ride_id  %>
  <%= text_field_tag :ride_id %>

  <%= submit_tag("Submit") %>
<% end %>
